<div class="contato selecionavel @((Selecionado ? "conversando" : ""))" id="@Id">
    <img src="@Imagem" />
    <div style="width:100%">
        <div style="width:100%;display:flex; justify-content:space-between">
            <p class="titulo">@Nome</p>
            @if (Notificacoes.HasValue && Notificacoes != 0)
            {
                <label class="notificacoes">@Notificacoes</label>
            }
        </div>
        <div style="width:100%;display:flex; justify-content:space-between">
            <label class="digitando">Online</label>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? ConnectionId { get; set; }

    [Parameter]
    public string? Nome { get; set; }

    [Parameter]
    public string? Imagem { get; set; }

    [Parameter]
    public int? Notificacoes { get; set; }

    [Parameter]
    public bool Selecionado { get; set; }
}
